[submodule "elib/elib-bootstrap"]
	path = elib/elib-bootstrap
	url = git://github.com/webdsl/elib-bootstrap
[submodule "elib/elib-utils"]
	path = elib/elib-utils
	url = git://github.com/webdsl/elib-utils
